.CenterContainer {
  background: white;
  border: 1px solid white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 923px;
  margin: 80px auto;
  width: 1317px;
}

.formContainer {
  align-items: center;
  display: flex;
  margin-top: -10px;
}

.containerUsersInfo {
  border: 1.527px solid #b1ceb0;
  display: flex;
  flex-direction: column;
  height: 660px;
  margin: 80px 0 0 40px;
  text-align: center;
  width: 430.19px;
}

.containerInputAndBtnSave {
  height: 120px;
  margin-top: 15px;
  width: 430px;
}

.inputNameUser {
  background: white;
  border: 1.527px solid #b1ceb0;
  box-shadow: 0 3.05px 3.05px rgba(0, 0, 0, 0.25);
  color: #72a758;
  font-size: 27.49px;
  font-style: normal;
  height: 47px;
  line-height: 32px;
  width: 230px;
}

.btnSaveName {
  background: #b1ceb0;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-size: 27.49px;
  font-style: normal;
  font-weight: 700;
  height: 49px;
  line-height: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  width: 151.22px;
}

.containerUsersOnline {
  background-color: #f9fceb;
  height: 500px;
  margin: 0 auto;
  width: 400px;
}

.titleUsersOnline {
  color: #377a35;
  font-size: 29.49px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.listUsersOnline {
  display: inline-block;
  margin-top: 26px;
}

.styleUsersOnline {
  color: #377a35;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}

.containerMessages {
  display: flex;
  flex-direction: column;
  height: 660px;
  justify-content: space-between;
  margin: 80px 0 0 27px;
  width: 780px;
}

.historyMessages {
  background: #fffcfc;
  border: 1.52px solid #b1ceb0;
  box-sizing: border-box;
  font-size: 24px;
  font-style: normal;
  height: 550px;
  line-height: 38px;
  list-style-type: none;
  overflow-y: scroll;
  padding: 50px 25px;
}

.inputMessages {
  background-color: white;
  border: 1.52px solid #b1ceb0;
  box-sizing: border-box;
  font-size: 24px;
  font-style: normal;
  height: 95.47px;
  padding: 0 0 0 10px;
  width: 624.29px;
}

.btnSendMessage {
  background: #b1ceb0;
  border-radius: 2.291px;
  color: white;
  font-size: 27.49px;
  font-style: normal;
  font-weight: 700;
  height: 97.7px;
  line-height: 32px;
  padding-bottom: 5px;
  width: 151.22px;
}

.titleWebChat {
  color: #5e955c;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-top: 50px;
  text-align: center;
}

.btnSendMessage:hover , .btnSaveName:hover {
  box-shadow: inset 0 0 10px 10px #9aba99;
  cursor: pointer;
}
